:host {
  display: block;
}
.map {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

canvas {
  filter: saturate(1.5);
}

.close-btn {
  margin: 5px;
  right: 5px;
  top: 5px;
  position: absolute;
  z-index: 1;
}