<style>
  @font-face {
    font-family: "Gilroy";
    src: url(/assets/gilroy-extrabold-webfont.woff2);
    font-weight: bold;
  }
  @font-face {
    font-family: "Gilroy";
    src: url(/assets/gilroy-light-webfont.woff2);
    font-weight: normal;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    max-width: 960px;
    margin: 2% auto;
    padding: 0;
    width: 100vw;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    color: var(--c-1);
    font-family: var(--main-font);
  }

  :root {
    /* fonts */
    --main-font: "Gilroy", "Roboto", sans-serif;
    --sub-font: "Roboto", sans-serif;
    --fz-h1: 4rem;
    --fz-h2: 4rem;
    --fz-h3: 3rem;
    --fz-h4: 2.3rem;
    --fz-h5: 1.8rem;
    --fz-h6: 1.6rem;
    --fz-p: 1.6rem;
    --fz-a: 1.6rem;
    --fz-btn: 1.6rem;
    /* colors */
    --c-0: #fff;
    --c-1: #626262;
    --c-2: #1025df;
    --c-3: #eaeaea;
    --c-4: #525252;

    /* IONIC */
    --ion-font-family: var(--main-font), inherit;
    --ion-color-primary: #525252;
    --ion-color-primary-rgb: 98, 98, 98;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #727272;
    --ion-color-primary-tint: #525252;
  }

  // TEXT
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-size: var(--fz-h1);
  }
  h2 {
    font-size: var(--fz-h2);
  }
  h3 {
    font-size: var(--fz-h3);
    margin: 0.5rem 0;
    white-space: normal;
  }
  h4 {
    font-size: var(--fz-h4);
  }
  h5 {
    font-size: var(--fz-h5);
    margin: 0;
  }
  h6 {
    font-size: var(--fz-h6);
    margin: 0;
  }
  a {
    font-size: var(--fz-a);
    text-decoration: none;
    color: var(--c-2);
    font-weight: bold;
  }
  img {
    width:  100%;
  }

</style>