:host {
  display: block;
  position: relative;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.list-dropdown {
  background: white;
  z-index: 1;
  visibility: hidden;
  transition: visibility 0.2s;
  position: absolute;
  width: calc(100% - 26px);
  margin-left: 8px !important;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  top: 63px;
  z-index: 99;
}
/*ion-searchbar.searchbar-has-value.focused + .list-dropdown {
  visibility: visible;
}*/
ion-searchbar {
  margin: 0 !important;
  padding: 0 !important;
  height: 42px;
}
ion-searchbar.sc-ion-searchbar-md-h {
  padding-inline-start: 0;
  padding-inline-end: 0;
}
ion-searchbar.searchbar-has-value.searchbar-has-focus + .list-dropdown {
  visibility: visible;
}
ion-item {
  cursor: pointer;
}